<div class="cadastro-div" id="cadastro-div">
  <form action="/cadastro" method="POST">
    <div class="nome-sobrenome">
      <input type="text" placeholder="Nome" name="nome" />

      <input type="text" placeholder="Sobrenome" name="sobrenome" />
    </div>

    <input type="text" placeholder="E-mail" name="email" />

    <input type="password" placeholder="Senha" name="senha" />

    <label>Data de nascimento</label>
    <input type="date" name="data" />

    <label>Gênero</label>
    <div class="genero">
      <div>
        <label>Masculino</label>
        <input type="radio" id="masc" name="genero" />
      </div>

      <div>
        <label>Feminino</label>
        <input type="radio" id="fem" name="genero" />
      </div>
    </div>

    <div class="btn-div">
      <button type="submit">Cadastre-se</button>
    </div>
  </form>
</div>
