<div class="cadastro-div" id="cadastro-div">
  <div class="nome-sobrenome">
    <input type="text" placeholder="Nome" />

    <input type="text" placeholder="Sobrenome" />
  </div>

  <input type="text" placeholder="E-mail" />

  <input type="password" placeholder="Senha" />

  <label>Data de nascimento</label>
  <input type="date" />

  <label>Gênero</label>
  <div class="genero">
    <div>
      <label>Masculino</label>
      <input type="radio" id="masc" name="genero" />
    </div>

    <div>
      <label>Feminino</label>
      <input type="radio" id="fem" name="genero" />
    </div>
  </div>

  <div class="btn-div">
    <button>Cadastre-se</button>
  </div>
</div>
