<footer>
  <script
    src="https://kit.fontawesome.com/19d403614c.js"
    crossorigin="anonymous"
  ></script>

  <div class="contato">
    <p>E-mail para contato: rodrigobr2003@hotmail.com</p>
  </div>
  <div class="redes">
    <a href="https://github.com/Rodrigobr2003"
      ><i class="fa-brands fa-github icone"></i
    ></a>
    <a href="https://www.linkedin.com/feed/"
      ><i class="fa-brands fa-linkedin icone"></i
    ></a>
  </div>
</footer>
