<header>
  <script
    src="https://kit.fontawesome.com/19d403614c.js"
    crossorigin="anonymous"
  ></script>
  <img src="/logo.svg" />

  <input type="text" placeholder="Pesquise no Orbee" />

  <div class="list">
    <ul>
      <li>
        <a href="/home"><i class="fa-solid fa-house-chimney"></i></a>
      </li>
      <li>
        <a href="/amigos"><i class="fa-solid fa-user-group"></i> </a>
      </li>
      <li>
        <a href="/notificacoes"><i class="fa-solid fa-bell"></i></a>
      </li>
      <li>
        <a href="/perfil"><i class="fa-solid fa-user"></i></a>
      </li>
    </ul>
  </div>
</header>
