<header>
  <script
    src="https://kit.fontawesome.com/19d403614c.js"
    crossorigin="anonymous"
  ></script>
  <img class="logo" src="/logo.svg" />

  <div class="div-pesquisa">
    <form class="form-pesquisa">
      <input
        id="inputPesquisa"
        type="text"
        name="pesquisa"
        placeholder="Pesquise no Orbee"
        autocomplete="off"
      />
    </form>

    <div class="modal-pesquisa"></div>

    <div class="menu-icon" id="menu-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

  <div class="list">
    <ul>
      <li>
        <a href="/home"><i class="fa-solid fa-house-chimney nav-icon"></i></a>
      </li>
      <li>
        <a href="/amigos"><i class="fa-solid fa-user-group nav-icon"></i></a>
      </li>
      <li>
        <a href="/notificacoes"><i class="fa-solid fa-bell nav-icon"></i></a>
      </li>
      <li>
        <a href="/perfil/:<%= user._id%>"
          ><i class="fa-solid fa-user nav-icon"></i
        ></a>
      </li>
    </ul>
  </div>

  <nav class="nav-menu" id="nav-menu">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/amigos">Amigos</a></li>
      <li><a href="/notificacoes">Notificações</a></li>
      <li><a href="/perfil/:<%= user._id%>">Perfil</a></li>
    </ul>
  </nav>
</header>
