<header>
  <script
    src="https://kit.fontawesome.com/19d403614c.js"
    crossorigin="anonymous"
  ></script>
  <img class="logo" src="/logo.svg" />

  <div class="div-pesquisa">
    <form class="form-pesquisa">
      <input
        id="inputPesquisa"
        type="text"
        name="pesquisa"
        placeholder="Pesquise no Orbee"
        autocomplete="off"
      />
    </form>

    <div class="modal-pesquisa"></div>
  </div>

  <script>
    const formSearchBar = document.querySelector(".form-pesquisa");
    const divPesquisa = document.querySelector(".div-pesquisa");
    const input = document.querySelector("#inputPesquisa");
    let modalPesquisa = document.querySelector(".modal-pesquisa");

    formSearchBar.addEventListener("click", (event) => {
      event.stopPropagation();
      modalPesquisa.style.display = "flex";
    });

    document.addEventListener("click", () => {
      if ((modalPesquisa.style.display = "flex"))
        modalPesquisa.style.display = "none";
    });

    formSearchBar.addEventListener("input", async function (event) {
      if (modalPesquisa.childElementCount > 0) {
        while (modalPesquisa.firstChild) {
          modalPesquisa.removeChild(modalPesquisa.firstChild);
        }
      }

      let pesquisa = document.querySelector("#inputPesquisa").value;

      pesquisa =
        pesquisa.charAt(0).toUpperCase() + pesquisa.slice(1).toLowerCase();

      const respostaPesquisa = await fetch(
        `/pesquisa-user?pesquisa=${encodeURIComponent(pesquisa)}`
      );

      const data = await respostaPesquisa.json();
      const users = data.user;

      users.map((user) => {
        const idUser = user._id;

        const formUser = document.createElement("form");
        formUser.action = `/perfil/:${idUser}`;
        formUser.method = "GET";

        const button = document.createElement("button");
        button.classList.add("div-user");

        const img = document.createElement("img");
        img.src = "/profile-default.png";

        const h4 = document.createElement("h4");
        h4.innerHTML = `${user.nome} ${user.sobrenome}`;

        formUser.appendChild(button);

        button.appendChild(img);
        button.appendChild(h4);

        modalPesquisa.appendChild(formUser);

        button.style.display = "flex";
      });
    });
  </script>

  <div class="list">
    <ul>
      <li>
        <a href="/home"><i class="fa-solid fa-house-chimney nav-icon"></i></a>
      </li>
      <li>
        <a href="/amigos"><i class="fa-solid fa-user-group nav-icon"></i> </a>
      </li>
      <li>
        <a href="/notificacoes"><i class="fa-solid fa-bell nav-icon"></i></a>
      </li>
      <li>
        <a href="/perfil/<%= user._id %>"
          ><i class="fa-solid fa-user nav-icon"></i
        ></a>
      </li>
    </ul>
  </div>
</header>
