<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Orbee - <%= pagina %></title>
  <link rel="stylesheet" type="text/css" href="/<%= css %>.css" />
  <link rel="stylesheet" type="text/css" href="/header.css" />
  <link rel="stylesheet" type="text/css" href="/footer.css" />
  <link rel="icon" href="/logo.png" />

  <script id="script" src="/<%= script %>.js"></script>
  <script src="/header.js"></script>
</head>
