<header>
  <script
    src="https://kit.fontawesome.com/19d403614c.js"
    crossorigin="anonymous"
  ></script>
  <img src="/logo.svg" />

  <input type="text" placeholder="Pesquise no Orbee" />

  <div class="list">
    <ul>
      <li><i class="fa-solid fa-house-chimney"></i></li>
      <li><i class="fa-solid fa-user-group"></i></li>
      <li><i class="fa-solid fa-bell"></i></li>
      <li><i class="fa-solid fa-user"></i></li>
    </ul>
  </div>
</header>
