body {
  background-image: linear-gradient(to top, #f0f2f5, #e6e7e9, #dedfe0, #d5d6d6);
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  flex: 1;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 55%;
}

.feed-top {
  border-bottom: 1px solid gray;
  padding: 5px 0 10px 0;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Signika", sans-serif;
  font-size: 1.2em;
  letter-spacing: 1.2px;
}

.feed-top i {
  padding: 5px;
  border-radius: 5px;
  color: #000;
  transition: background-color 0.3s ease-in-out;
}

.feed-top i:hover {
  background-color: #d5d6d6;
  transition: background-color 0.3s ease-in-out;
}

h2 {
  margin: 0 60px;
}

.feed-default {
  background-color: #fff;
  align-self: flex-start;
  padding: 20px 0px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  max-height: 90%;
}

.perfil-amigo {
  margin: 15px 0;
  height: 250px;
  overflow-y: scroll;
}

.perfil-amigo::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

.perfil-amigo::-webkit-scrollbar-track {
  background: none;
}

.perfil-amigo::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.perfil-feed {
  display: none;
  align-items: center;
  padding: 20px;
  margin: 0 13px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in;
  position: relative;
  cursor: pointer;
}

.aviso-notif {
  display: none;
  justify-content: center;
  font-family: "Signika", sans-serif;
  font-size: 1.2em;
  display: none;
}

.perfil-feed:hover {
  background-color: #d5d6d6;
  transition: background-color 0.3s ease-in;
}

.foto-perfil {
  width: 10%;
  margin-left: 3%;
  border-radius: 30px;
}

.infos {
  font-family: "Signika", sans-serif;
  margin-left: 10px;
}

.infos p:nth-of-type(1) {
  font-size: 1.1em;
}

.infos p:nth-of-type(2) {
  font-size: 0.85em;
}

.perfil-amigo .btn-remove {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  font-size: 1.2em;
  background: none;
  cursor: pointer;
}

@media (max-width: 350px) {
  section {
    height: auto;
    padding: 10px;
  }

  .feed {
    width: 90%;
    padding: 10px;
  }

  .feed-top {
    font-size: 1em;
  }

  h2 {
    margin: 0 20px;
    font-size: 1.2em;
  }

  .aviso-notif {
    font-size: 1em;
  }

  .feed-default {
    width: 100%;
    height: 100%;
  }

  .perfil-amigo {
    height: 150px;
  }

  .foto-perfil {
    width: 20%;
  }

  .infos p:nth-of-type(1) {
    font-size: 1em;
  }

  .infos p:nth-of-type(2) {
    font-size: 0.75em;
  }
}

@media (min-width: 350px) and (max-width: 576px) {
  section {
    height: auto;
    padding: 10px;
  }

  .feed {
    width: 90%;
    padding: 10px;
  }

  .feed-top {
    font-size: 1em;
  }

  h2 {
    margin: 0 20px;
    font-size: 1.5em;
  }

  .feed-default {
    width: 100%;
    height: 100%;
  }

  .perfil-amigo {
    height: 150px;
  }

  .foto-perfil {
    width: 20%;
  }

  .infos p:nth-of-type(1) {
    font-size: 1em;
  }

  .infos p:nth-of-type(2) {
    font-size: 0.75em;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .feed {
    width: 80%;
  }

  .feed-top {
    font-size: 1.1em;
  }

  h2 {
    margin: 0 40px;
    font-size: 1.8em;
  }

  .feed-default {
    width: 90%;
    height: 100%;
  }

  .perfil-amigo {
    height: 200px;
  }

  .foto-perfil {
    width: 15%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .feed {
    width: 70%;
  }

  .feed-top {
    font-size: 1.2em;
  }

  h2 {
    margin: 0 50px;
    font-size: 2em;
  }

  .feed-default {
    width: 80%;
    height: 100%;
  }

  .perfil-amigo {
    height: 250px;
  }

  .foto-perfil {
    width: 12%;
  }
}

@media (min-width: 993px) {
  .feed {
    width: 55%;
  }

  .feed-top {
    font-size: 1.3em;
  }

  h2 {
    margin: 0 60px;
    font-size: 2.4em;
  }

  .feed-default {
    width: 70%;
    height: 100%;
  }

  .perfil-amigo {
    height: 300px;
  }

  .foto-perfil {
    width: 10%;
  }
}
