footer {
  background-color: #222222;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

.icone {
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 30px;
}

.contato {
  width: 80%;
  text-align: center;
}

.redes a {
  text-decoration: none;
  color: white;
}

.contato:has(p) {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .contato {
    width: 100%;
    margin-bottom: 15px;
  }

  .icone {
    margin-right: 5px;
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 20px;
  }

  .icone {
    font-size: 20px;
  }

  .contato {
    width: 50%;
  }

  .contato:has(p) {
    font-size: 1.2em;
  }
}
