footer {
  background-color: #222222;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

.icone {
  border: 2px solid white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 30px;
}

.contato {
  width: 80%;
  text-align: center;
}

.redes a {
  text-decoration: none;
  color: white;
}

.contato:has(p) {
  font-size: 1.5em;
  white-space: nowrap;
}

/* Telas pequenas: celulares */
@media (max-width: 576px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .icone {
    font-size: 25px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .contato {
    width: 100%;
    font-size: 1.2em;
  }

  .redes {
    margin-top: 20px;
  }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 25px;
  }

  .icone {
    font-size: 28px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .contato {
    width: 90%;
    font-size: 1.3em;
  }

  .redes {
    margin-top: 20px;
  }
}

/* Laptops pequenos */
@media (min-width: 769px) and (max-width: 992px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }

  .icone {
    font-size: 30px;
    margin-right: 10px;
  }

  .contato {
    width: 80%;
    font-size: 1.4em;
  }
}

/* Monitores grandes */
@media (min-width: 993px) and (max-width: 1200px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }

  .icone {
    font-size: 32px;
    margin-right: 10px;
  }

  .contato {
    width: 75%;
    font-size: 1.5em;
  }
}

/* Monitores ultra-wide */
@media (min-width: 1201px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  .icone {
    font-size: 35px;
    margin-right: 10px;
  }

  .contato {
    width: 70%;
    font-size: 1.6em;
  }
}
