body {
  background-image: linear-gradient(to top, #f0f2f5, #e6e7e9, #dedfe0, #d5d6d6);
  background-repeat: no-repeat;
}

section {
  display: flex;
  justify-content: center;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 55%;
}

.feed-chat {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.feed-default {
  background-color: #fff;
  align-self: flex-start;
  padding: 20px 0px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.perfil-feed {
  display: flex;
  align-items: center;
}

.foto-perfil {
  width: 7%;
  padding-left: 3%;
}

.input-atividade {
  width: 80%;
}

.anexos {
  border-top: 1px solid gray;
  margin: 15px 15px 0;
  display: flex;
  justify-content: center;
}

.anexos a {
  display: flex;
  float: left;
  align-items: center;
  margin-top: 20px;
  margin-right: 5px;
  padding: 8px;
  text-decoration: none;
  font-family: "Signika", sans-serif;
  color: #000;
  font-size: 1.1em;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.anexos a:hover {
  background-color: #dddee0;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.anexos a i {
  font-size: 1.4em;
  margin: 0 5px;
}

.anexos a:nth-child(1) i {
  color: #d70040;
}

.anexos a:nth-child(2) i {
  color: #2e8b57;
}

.anexos a:nth-child(3) i {
  color: #ffd700;
}

.publi {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.infos {
  font-family: "Signika", sans-serif;
  margin-left: 10px;
}

.infos p:nth-of-type(1) {
  font-size: 1.1em;
}

.infos p:nth-of-type(2) {
  font-size: 0.85em;
}

.div-desc {
  margin: 10px 25px 0;
  font-family: "Signika", sans-serif;
  font-size: 0.95em;
}

.div-media {
  margin: 15px 0 0;
  position: relative;
}

.media {
  width: 100%;
  height: 100%;
  display: block;
}

.div-actions {
  margin: 15px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-actions i {
  font-size: 1.7em;
  margin: 0 20px;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.4s ease;
}

.div-actions i span {
  font-size: 0.75em;
  padding-left: 10px;
  font-family: "Signika", sans-serif;
}

.div-actions i:hover {
  background-color: #dddee0;
  color: #2c3892;
  padding: 8px;
  border-radius: 8px;
  transition: color 0.4s ease, background-color 0.4s ease;
}
