@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Signika&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1d1d1d;
}

.lema {
  display: flex;
  padding: 30px;
  justify-content: center;
}

h1 {
  color: azure;
  font-size: 2.5em;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 5px;
}

.display-meio {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div-img {
  display: inline-flex;
  width: 45%;
  height: 100%;
}

.img-logo {
  margin: auto;
  width: 90%;
}

.content {
  width: 35%;
  display: flex;
  float: right;
  align-items: center;
  flex-direction: column;
  font-family: "Signika", sans-serif;
  height: 100%;
  color: azure;
}

h2 {
  font-size: 2.5em;
  margin-top: 5%;
}

button {
  padding: 10px 80px;
  border-radius: 20px;
  margin-top: 2%;
  border: none;
  font-family: "Signika", sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.btn-cadastro {
  background-color: #2c3892;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}

.btn-cadastro:hover {
  background-color: #51ade5;
  color: #1d1d1d;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease-in-out;
}

.btn-login {
  background-color: #1d1d1d;
  border: 1px solid #51ade5;
  color: #2c3892;
  transition: color 0.3s ease;
  transition: border 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
  background-color: #51ade5;
  border: 1px solid #2c3892;
  color: #1d1d1d;
  transition: color 0.3s ease;
  transition: border 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

p {
  margin-top: 2%;
  font-size: 0.8em;
  width: 40%;
}

span {
  color: #51ade5;
}

h3 {
  margin-top: 10%;
}

.align-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 5%;
}

.msg-div {
  display: flex;
  margin: 10px auto;
  padding: 0px;
  height: 50px;
  width: 40%;
  align-items: center;
  justify-content: center;
  font-family: "Signika", sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 3px 10px 10px 3px;
  animation: alert 0.1s ease-in;
}

.msg-div h3 {
  margin: 0;
}

.error {
  border-left: 10px solid rgb(182, 5, 40);
  background-color: rgb(218, 47, 56);
}

.success {
  border-left: 10px solid rgb(26, 182, 5);
  background-color: rgb(96, 218, 47);
}

footer {
  width: 100%;
  box-sizing: border-box;
}

/* Mobile phones (menores que 576px) */
@media (max-width: 576px) {
}

/* Tablets (576px até 768px) */
@media (min-width: 576px) and (max-width: 768px) {
}

/* Laptops pequenos (768px até 992px) */
@media (min-width: 768px) and (max-width: 992px) {
}

/* Desktops (992px até 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Grandes monitores (maiores que 1200px) */
@media (min-width: 1200px) and (max-width: 1450px) {
  h1 {
    font-size: 2.2em;
  }
}

/* Grandes monitores (maiores que 1200px) */
@media (min-width: 1450px) and (max-width: 1600px) {
  h1 {
    font-size: 2.8em;
  }

  .div-img {
    width: 40%;
  }

  .content {
    width: 60%;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    margin-top: 30px;
    font-size: 1.5em;
  }
}

/* Monitores ultra-wide (1600px até 1920px) */
@media (min-width: 1600px) and (max-width: 1920px) {
  h1 {
    font-size: 3.2em;
  }

  .div-img {
    width: 40%;
  }

  .content {
    width: 60%;
  }

  h2 {
    font-size: 3.3em;
  }

  button {
    padding: 10px 80px;
    font-size: 1.3em;
  }

  p {
    font-size: 1em;
    width: 40%;
  }

  h3 {
    font-size: 3.3em;
    margin-top: 30px;
  }
}

/* Monitores 4K (maiores que 1920px) */
@media (min-width: 1920px) {
  h1 {
    font-size: 4em;
  }

  .div-img {
    margin: 10px 50px;
    width: 40%;
  }

  .content {
    width: 60%;
  }

  h2 {
    font-size: 3.5em;
  }

  button {
    padding: 10px 80px;
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
    width: 40%;
  }

  h3 {
    font-size: 3.5em;
    margin-top: 30px;
  }
}
