body {
  background-image: linear-gradient(to top, #f0f2f5, #e6e7e9, #dedfe0, #d5d6d6);
  background-repeat: no-repeat;
}

section {
  display: flex;
  justify-content: center;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 55%;
}

h2 {
  margin: 0 60px;
}

.feed-default {
  background-color: #fff;
  align-self: flex-start;
  padding: 0px 0px 20px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.perfil-feed {
  margin: 0px 0;
  display: flex;
}

.perfil {
  display: flex;
  flex-direction: column;
  float: left;
  border-radius: 10px;
  transition: background-color 0.3s ease-in;
}

.background-image-div {
  position: relative;
}

.background-image {
  width: 590px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.edit-button {
  position: absolute;
  top: 75%;
  left: 80%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 16px;
  transition: background-color 0.3s ease-in;
}

.edit-button:hover {
  background-color: #888686;
  cursor: pointer;
}

.infos {
  font-family: "Signika", sans-serif;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  margin: 0 20px;
}

.infos p:nth-of-type(1) {
  font-size: 2em;
}

.infos p:nth-of-type(2) {
  font-size: 0.9em;
}

.foto-perfil {
  width: 7%;
  border-radius: 70px;
  border: 5px solid #fff;
  position: absolute;
  top: 42%;
  right: 62%;
}

.feed-middle {
  display: flex;
  justify-content: center;
}

.detalhes-user {
  margin: 0 0 0 100px;
  display: flex;
  float: left;
  flex-direction: column;
}

.interacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 30px;
}

button {
  background-color: #51ade5;
  margin: 0px 2px;
  border-radius: 30px;
  border: none;
  font-size: 1.2em;
  color: azure;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.interacao button:nth-of-type(1) {
  padding: 12px;
}

.interacao button:nth-of-type(2) {
  padding: 12.5px 13.5px;
}

.interacao button:hover {
  background-color: #2c3892;
}

.descricao-div {
  width: 85%;
  margin: 10px auto;
  display: flex;
}

.descricao-div p:nth-of-type(1) {
  font-size: 1.2em;
}

.editar-desc {
  display: flex;
  align-items: center;
}

.editar-desc button:nth-of-type(1) {
  background: none;
  color: #2c3892;
  font-size: 1em;
  padding: 5px;
}

.feed-bottom {
  margin: 10px 20px;
  display: grid;
}

.img {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  font-size: 2em;
  align-items: center;
  border: 1.5px solid #fff;
  background-image: url("/photo-default.png");
  background-size: cover;
  height: 165px;
}

.img-te {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img-tm {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img-td {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img-me {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.img-mm {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.img-md {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.img-be {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.img-bm {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
