<%- include('includes/head') %> <%- include('includes/header') %>

<section>
  <div class="feed">
    <div id="feed-default" class="feed-default">
      <div class="perfil-feed">
        <div class="chat-top">
          <a class="back">
            <button class="btn-volta">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
          </a>

          <img class="foto-perfil" src="/profile-default.png" />
          <p class="nomeUser">Nome Sobrenome</p>
        </div>

        <div class="chat">
          <div class="friend-side">
            <div class="msg friend-msg">Lorem Ipsum</div>
          </div>

          <div class="friend-side">
            <div class="msg friend-msg">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </div>
          </div>

          <div class="friend-side">
            <div class="msg friend-msg">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>

          <div class="friend-side">
            <div class="msg friend-msg">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </div>
          </div>
          <div class="user-side">
            <div class="msg user-msg">Lorem Ipsum</div>
          </div>

          <div class="user-side">
            <div class="msg user-msg">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </div>
          </div>

          <div class="user-side">
            <div class="msg user-msg">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>

          <div class="user-side">
            <div class="msg user-msg">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </div>
          </div>

          <div class="enviar-msg">
            <button><i class="fa-regular fa-face-smile"></i></button>
            <input type="text" />
            <button><i class="fa-solid fa-paper-plane"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer') %>
