<%- include('includes/head') %> <%- include('includes/header') %>

<section>
  <div class="feed">
    <div id="feed-default" class="feed-default">
      <div class="perfil-feed">
        <div class="chat-top">
          <a class="back btn-volta">
            <i class="fa-solid fa-chevron-left"></i>
          </a>

          <img class="foto-perfil" src="/profile-default.png" />
          <p class="nomeUser">Nome Sobrenome</p>
        </div>

        <div class="chat">
          <div class="friend-side">
            <div class="msg friend-msg"></div>
          </div>
          <div class="user-side">
            <div class="msg user-msg"></div>
          </div>
        </div>
        <div class="enviar-msg">
          <button><i class="fa-regular fa-face-smile"></i></button>

          <form id="chat-form">
            <input type="text" id="msg" autocomplete="off" required />
            <button type="submit" class="submit-msg">
              <i class="fa-solid fa-paper-plane"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer') %>
