<%- include('includes/head') %>

<body>
  <div class="lema">
    <h1>Conectando o Mundo em uma Esfera de Possibilidades</h1>
  </div>
  <%- include('includes/flash') %>

  <div class="display-meio">
    <div class="div-img">
      <img class="img-logo" src="/marca.svg" />
    </div>

    <div id="content" class="content">
      <h2>Inscreva-se hoje</h2>

      <button id="btn-cadastro" class="btn-cadastro">Criar conta!</button>

      <p>
        Ao se inscrever, você concorda com os <span>Termos de Serviço</span> e a
        <span>Política de Privacidade</span>, incluindo o
        <span>Uso de Cookies</span>.
      </p>

      <h3>Já tem uma conta?</h3>

      <button id="btn-login" class="btn-login">Entrar</button>
    </div>
  </div>
</body>

<%- include('includes/footer') %>
