<%- include('includes/head') %> <%- include('includes/header') %>

<section>
  <div class="feed">
    <div id="feed-default" class="feed-default">
      <div class="feed-top">
        <a href="/home"><i class="fa-solid fa-chevron-left"></i></a>

        <h2>Todas notificações</h2>
      </div>

      <div class="perfil-amigo">
        <p class="aviso-notif">Você não nenhuma notificação...</p>

        <div class="perfil-feed">
          <img class="foto-perfil" src="/profile-default.png" />

          <div class="infos">
            <p class="userName"></p>
          </div>

          <div class="resposta">
            <form action="/aceitar-amigo" method="POST">
              <button type="submit" class="aceitar">Aceitar</button>
            </form>

            <form action="/negar-amigo" method="POST">
              <button type="submit" class="negar">Negar</button>
            </form>

            <form action="/exluir-notficacao" method="POST">
              <input type="hidden" name="id" class="value" />
              <button class="apagar">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer') %>
